@charset "utf-8";

body {
    margin: initial;
    display: initial;
}

.container1 {
    background-image: url(images/平泉グルメガチャ.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 720px;
}

.capsule_module {
    background-image: url(../static/images/capsule.gif);
    background-size: cover;
    width: 100%;
    min-height: 720px;
}

.container2 {
    background-image: url(images/店舗表示画面.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 720px;
}

.capsule_module {
    background-image: url(../static/images/capsule.gif);
    text-align: center;
}

.img_nm {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.shop_img {
    width: 50%;
    max-height: 50%;
    margin-top: 40px;
}

.btn-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.btn-gacha {
    color: black;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    line-height: 100px;
    width: 100px;
    height: 100px;
    padding: 0;
    background-color: #E6D900;
    -webkit-box-shadow: 0 5px 0 #817B00;
    box-shadow: 0 5px 0 #817B00;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-top: 56%;
    margin-left: 65%;
    font-size: 18px;
}

.btn-gacha:hover {
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
    -webkit-box-shadow: 0 2px 0 #E6D900;
    box-shadow: 0 2px 0 #E6D900;
}

.btn-shop {
    color: #000;
    background-color: #FFF100;
    border-bottom: 5px solid #CCC100;
    text-decoration: none;
    width: 30%;
    font-size: 1.7em;
    display: inline-block;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-shop:hover {
    margin-top: 3px;
    color: #000;
    background: #fff20a;
    border-bottom: 2px solid #CCC100;
}

@media screen and (max-width: 600px) {
    .container1 {
        background-image: url(images/sp_backimage.png);
    }
}

@media screen and (max-width: 600px) {
    .btn-gacha {
        margin: 0 auto;
        margin-top: 1000px;
    }
}

@media screen and (max-width: 600px) {
    .capsule_module {
        background-image: url(../static/images/capsule_module_sp.gif);
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .container2 {
        background-image: url(images/sp_shop.png);
    }
}

@media screen and (max-width: 600px) {
    .shop_img {
        width: 80%;
        max-height: 70%;
        margin-top: 50%;
    }
}

@media screen and (max-width: 480px) {
    .btn-shop {
        width: 80%;
    }
}
