<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Refresh" content="5; url=result">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container2">
    <img class="gacha-img" src="../static/images/capsule_open.gif">
    </div>
    <audio>
    <source src="/Users/odayuuta/Music/Music/Media.localized/Music/Unknown Artist/Unknown Album/ガチャガチャ・カプセルトイ.mp3" type="audio/wav">
    Your browser does not support the audio element.
  </audio>
</body>
</html>
